body {
  margin: 0;
  padding: 0;
}
.add-cart-btn {
  background-color: #3D8168;
  color: white;
}
.add-btn-text {
  font-size: 18px;
}
.category, .description {
  color: #6C7289;
  font-size: 18px;
}
.discount {
  color: #3D8168;
  font-size: 40px;
  font-weight: 600;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: #f2e9e2;
}
.product-card {
  background-color: white;
}
.strike {
  color: #6C7289;
}
.title {
  font-size: 36px;
}
.category, .description, .strike, .add-btn-text {
  font-family: 'Montserrat', sans-serif;
}
.description, .discount {
  font-family: 'Fraunces', sans-serif;
}